@mixin circle-icon($bg-color, $size, $font-size: 0px) {
  @include font-size($font-size);
  @include size(#{$size}px);
  background-color: $bg-color;
  border: 4px solid #ffffff;
  border-radius: 50%;
  line-height: (#{$size}px);
  text-align: center;
}
