@mixin font-face($font-family, $file-path) {
  @font-face {
    font-family: $font-family;
      src: font-url("#{$file-path}.eot");
      src: font-url("#{$file-path}.eot?#iefix") format("embedded-opentype"),
           font-url("#{$file-path}.woff") format("woff"),
           font-url("#{$file-path}.ttf") format("truetype"),
           font-url("#{$file-path}.svg") format("svg");
  }
  // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
        src: font-url("#{$file-path}.svg") format("svg");
    }
  }
}
