@media only screen and (max-width: $screen-xs-max) {
  body.programs {
    // Programs Index
    &.index {
      .program-container {
        height: auto;
        margin-bottom: 22px;
      }

      .program-logo {
        margin-bottom: 0;
      }

      .program-label {
        padding-top: 10px;
      }
    }

    // Programs Show
    &.show {
      .page-container {
        margin-top: 35px;
      }

      .page-header-inner {
        .Button {
          margin-bottom: -35px;
        }
      }

      .all-products-title {
        margin: -60px 0 30px;
      }
    }
  }
}
