// Page Header & Nav

header {
  background: image-url("application/backgrounds/wbt-header.gif") top left repeat-x;
  height: $height-header;
  position: relative;

  .header-wrap {
    height: 100%;

    .wbt-logo {
      @include absolute-center(161px);
      background: {
        image: image-url('application/logos/wbt-logo.png');
        repeat: no-repeat;
        size: cover;
      }
      height: 121px;
      top: 7px;
      z-index: 100;
    }
  }

  .contract-partner-header {
    float: left;
    margin-top: 18px;
  }

  .contract-partner-copy {
    color: #dbdbdb;
    font: {
      family: $font-secondary;
      size: 12px;
      style: italic;
    }
  }

  .contract-partner-copy,
  .contract-logo {
    display: inline-block;
    vertical-align: middle;
  }

  .contract-logo {
    @include size(192px, 65px);
    position: relative;

    img {
      bottom: 0;
      left: 0;
      margin: auto;
      max-height: 70%;
      max-width: 85%;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
