body.assessments {
  #language-choice {
    @include font-size(15px);
    color: $color-blue-dark;
    font-family: $font-primary-bold;
    line-height: 2.5em;

    a {
      border-left: 1px solid #534e7b;
      color: inherit;
      padding: 0 2px 0 7px;

      &:first-child {
        border-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &.active {
        font-weight: bold;
      }
    }
  }

  &.new {
    #language-choice {
      position: absolute;
      right: 0;
      top: -30px;
    }
  }
}
