html{
  font-size: $font-size-base;

  @media only screen and (max-width: $screen-md-min) {
    font-size: $font-size-base;
  }

  @media only screen and (max-width: $screen-sm-min) {
    font-size: $font-size-base - 2;
  }

  @media only screen and (max-width: $screen-xs-min) {
    font-size: $font-size-base - 4;
  }
}

body {
  color: $color-default-font;
  font: {
    family: $font-primary;
    size: inherit;
  }
  line-height: $line-height;
}

p {
  @include font-size(18px);
}

a {
  color: $color-link;
}

a:hover,
a:focus,
input {
  text-decoration: none;
  outline: 0;
}

// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-heading;
  font: {
    family: $font-primary-bold;
    weight: normal;
  }
  line-height: $line-height;
  margin: 0;
}

h1 {
  @include font-size(36px);
}

h2 {
  @include font-size(32px);
}

h3 {
  @include font-size(28px);
}

h4 {
  @include font-size(24px);
}

h5 {
  @include font-size(21px);
}

.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }

// Subheader

.subheader {
  @include font-size(14px);
  color: $color-blue-dark;
  font-family: $font-primary-bold;
  text-transform: uppercase;
}
